html, body, * {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: auto;
    margin-bottom: 4vw;
}

/* HEADER STYLES */
header {
    height: 7vw;
    padding-top: 0.3vw;
    padding-bottom: 0.4vw;
}

div.header-contents {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div.h-content {
    display: inline-block;
    vertical-align: middle;
}

span.logo {
    display: block;
    padding-top: 1vw;
}

div.user-info-container {
    width: 91%;
    height: 98%;
}
div.user-detail {
    width: 50%;
    height: 100%;
    margin-left: 50.2%;
}

span.user-profile-pic {
    width: 12%;
    height: 80%;
    background-image: url('../../static/images/profile-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 50%;
    border: 0.5vw dotted black;
    margin-right: 2%;
    margin-top: 1%;
    filter: invert(95%)
}
span.user-profile-details {
    width: 79%;
    height: 6.2vw;
    font-size: 1.25vw;
    padding-top: 0.8vw;
    padding-bottom: 0.5vw;
    padding-right: 0.6vw;
    text-align: right;
    color: #e6dada;
}

span.user-profile-details h4 {
    font-family: sans-serif;
    font-weight: bolder;
}

h4#username {
    font-size: 1.4vw;
    font-stretch: ultra-expanded;
}
h4#fullname {
    font-size: 1.6vw;
    font-stretch: ultra-expanded;
}
h4#email {
    font-size: 1.05vw;
    font-weight: bold;
    text-decoration: underline dotted;
}
h4#email b {
    font-size: 1.1em;
    font-stretch: extra-expanded;
    font-weight: bolder;
}


div.user-detail span {
    float: right;
}




/* MAIN STYLE */
section.grouped-sections {
    float: left;
}

/* 1. nav-container */
section.nav-container {
    border: 2px solid white;
    width: 4.1%;
    height: auto;
    margin-top: 2.5vw;
    padding-top: 2vw;
    border-top-right-radius: 2.5vw;
    border-bottom-right-radius: 2vw;
    border-left: none;
    border: 1px solid #98a8ae;
    filter: drop-shadow(1px 2px 2px #98a8ae);
    background-color: white;
}

.nav-items li.nav-item {
    list-style: none;
    width: 2.75vw;
    height: 2.7vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin: 1vw 0.4vw 0.1vw 0.55vw;
    background-size: 65%;
    box-shadow: 2px 2px 3px #98a8ae;
}

li#upcoming-exams {
    background-image: url('../../static/images/calendar.png');
}

li#past-exams {
    background-image: url('../../static/images/past-exams.png');
}

li#my-students {
    background-image: url('../../static/images/my-students.jpg');
}

li#manage-exams {
    background-image: url('../../static/images/manage-exams.png');
}

li#logout {
    background-image: url('../../static/images/logout-icon.png');
    margin-top: 8vw;
    margin-bottom: 1vw;
    background-size: 80%;
}

.nav-items li.nav-item:focus,
.nav-items li.nav-item:hover {
    width: 3vw;
    height: 2.95vw;
    background-size: 70%;
}

.nav-items li.nav-item:active {
    width: 2.75vw;
    height: 2.7vw;
}

/* 2. workspace-container */
section.workspace-container {
    width: 90%;
    height: 31em;
    margin-left: 1.3vw;
    padding-top: 2.5vw;
    padding-left: 1.3vw;
}

.upcoming-exams-container {
    width: 40%;
    height: auto;
    background-color: #f0c6c6;
    text-align: center;
    padding: 1.3vw 0.9vw;
    border-radius: 2vw;
    filter: drop-shadow(0.1em 0.1em 2px gray);
}

.upcoming-exams-container h3 {
    margin-top: 1.3vw;
    margin-bottom: 2.6vw;
    font-size: 1.45vw;
}

.upcoming-exams-items {
    width: 96%;
    height: 68%;
    background-color: #fbfafa;
    text-align: justify;
    padding: inherit;
    border-radius: 1.5vw;
    filter: drop-shadow(0.1em 0.1em 1px gray);
}

.upcoming-exams-items p {
    text-align: center;
    text-decoration: underline dotted;
    font-size: 1.2vw;
}

.clear-float {
    clear: both;
}
