/* GENERAL */
main {
    width: 100%;
    height: 35vw;
    margin-top: 8.5vw;
}


/* STUDENT DETAILS */
.user-details {
    width: 21.3%;
    background-color: #c3e8f7;
    opacity: 0.9;
    margin-right: 0.9vw;
    border-radius: 0px 1.9vw 1vw 0px;
}

.user-details div {
    margin-top: 1.3vw;
    color: #424242;
    margin-bottom: 0;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
}

.user-details div h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1.4vw;
    color: #262525;
    font-size: 1.5vw;
}

div.user-image-icon {
    width: 100;
    height: 14vw;
    background-image: url('../images/profile-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0.3vw;
}

div.below-user-image-icon-1 {
    padding: 0;
    text-align: center;
    margin-top: 0;
    font-size: 1.4vw;
}

div.below-user-image-icon-1 h5 {
    font-size: 1vw;
    text-decoration: underline dotted;
}

div.below-user-image-icon-1 h5 span {
    font-size: 1.3vw;
}

div.below-user-image-icon-2 {
    width: 100%;
    margin-top: 6.25vw;
    padding: 0;
    text-align: left;
    font-size: 1.3vw;
}



/* QUESTION AND OPTIONS */
.question-sect {
    width: 55%;
}

div.question {
    width: 100%;
    min-height: 10vw;
    max-height: 13vw;
    background-color: #e65151;
    color: white;
    border-radius: 1.9vw;
    margin-bottom: 1vw;
    overflow: auto;
}

div.question h3 {
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    padding-left: 1.7vw;
    font-size: 1.5vw;
    display: inline-block;
}

div.question h3#No {
    vertical-align: top;
}

div.question h3#Q {
    width: 87%;
    text-align: left;
    padding-left: 0;
    margin-left: 0.5vw;
}

div.options {
    width: 100%;
    min-height: 15vw;
    max-height: 18.5vw;
    margin-bottom: 1vw;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 1.5vw;
}

div.options::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1vw;
}
div.options::-webkit-scrollbar-thumb {
    border-radius: 1vw;
}

div.options .option-container {
    padding: 1.8vw 2vw;
}

div.options .option-item {
    width: 3vw;
    height: 3vw;
    vertical-align: middle;
}

div.options span {
    display: block;
    color: #664040;
    margin-bottom: 1.3vw;
    font-size: 1.55vw;
}

div.question,
div.options {
    overflow: hidden;
}

div.question:hover,
div.options:hover {
    overflow: auto;
}

div.question-nav {
    width: 100%;
    height: 4.47vw;
    margin-top: 1.3vw;
    /* border: 1px solid black; */
}

div.question-nav button {
    padding: 1.46vw 3.6vw;
    background-color: #e65151;
    color: white;
    border: none;
    border-radius: 0.6vw;
    font-weight: 700;
    font-size: 1vw;
}

div.question-nav button:hover {
    opacity: 0.7;
}

div.question-nav button:active {
    background-color: #a6a6a6;
    opacity: 1;
}

div.question-nav button#prev {
    margin-left: 6vw;
    margin-right: 12vw;
}

div.question-nav button#next {
    margin-left: 11vw;
}

div.question-nav button#submit {
    position: fixed;
    top: 0.3vw;
    right: 0.3vw;
    padding: 1.5vw 4.5vw;
    z-index: 25;
}




/* EXAMINATION DETAILS */
.exam-details {
    width: 21.76%;
    background-color: #c3e8f7;
    opacity: 0.9;
    margin-left: 1vw;
    margin-right: 0;
    border-radius: 1.9vw 0px 0px 1vw;
}

.exam-details div {
    margin-top: 1.3vw;
    color: #424242;
    margin-bottom: 0;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
}

.exam-details div h3 {
    text-align: center;
    color: #262525;
    text-decoration: underline;
    padding-left: 0;
    margin-bottom: 0.6vw;
    font-size: 1.5vw;
}

div div.exam-detail-block {
    margin-bottom: 12vw;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

div div.exam-detail-block h4 {
    margin-bottom: 0.48vw;
    font-size: 1.1vw;
    border-bottom: 0.2vw dotted black;
}

div div.examiner-detail-block {
    padding: 0;
    font-size: 1.1vw;
}

div div.examiner-detail-block h5 {
    font-size: 1vw;
    text-align: center;
    text-decoration: underline dotted;
}

div div.examiner-detail-block h5 span {
    font-size: 1.3vw;
}

section.main-content {
    height: 38vw;
    margin-bottom: 3.9vw;

}

section.main-content { /* Float objects */
    float: left;
}

@media screen and (max-width: 336px) {
    main {
	margin-top: 16%;
    }
}
