body {
    background-color: #eff8fb;
    padding-bottom: 3em;
}

header {
    height: 5vw;

}

main {
    width: 100%;
    margin-bottom: 1.8vw;
}

div.invisible-container {
    width: 70%;
    height: auto;
    margin: auto;
    border-left: 0.7vw dotted #0f465b;
    border-right: 0.7vw dotted #0f465b;
}

section div.container {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    padding-top: 5%;
    padding-bottom: 1%;
}

section div.sign-up-div,
section div.login-div {
    margin-bottom: 0.7vw;
    padding: 0.7vw 1.3vw;
}

section div.sign-up-div {
    border-radius: 1vw;
    padding-top: 1.3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background-color: #cbe8f4;
    filter: drop-shadow(0.5px 3px 4px #98a8ae);
}

section div.sign-up-div h4 {
    color: #0c394a;
    font-size: 1.25vw;
    text-align: center;
    margin-bottom: 1vw;
}

form label {
    display: block;
    margin-bottom: 1.8vw;
    margin-left: 0.7vw;
    width: 100%;
}

input.credential {
    width: 94%;
    height: 2.6vw;
    border: none;
    outline: none;
    padding-left: 1px;
    font-size: 1.3vw;
    border-bottom: 1px solid #0f465b;
    color: #0c394a;
    background-color: #cbe8f4;
}

label.usual-names {
    padding: 0;
    width: 47%;
    display: inline-block;
}

label input[name=password] {
    width: 55%;
}

input.credential:focus {
    font-size: 1.42vw;
    border-bottom: 0.16vw solid #0f465b;
}

label#login {
    display: block;
    width: 35%;
    height: 5vw;
    padding-right: 0;
    margin-top: 2vw;
    margin-bottom: 0.6vw;
    margin-left: 66%;
    margin-right: 5%;
}

label#login input[type=submit] {
    padding-top: 1.14vw;
    padding-bottom: 1vw;
    padding-right: 2.6vw;
    padding-left: 2.6vw;
    background-color: #0f465b;
    color: #eff8fb;
    border: none;
    border-radius: 1vw;
    margin-left: 3vw;
    font-size: 1.04vw;
}

label#login input[type=submit]:focus,
label#login input[type=submit]:hover {
    opacity: 0.8;
}

label#login input[type=submit]:active {
    background-color: #b3174a;
    opacity: 0.5;
}

div.login-div {
    color: #0c3646;
    font-size: 1.25vw;
}

div.login-div a {
    display: block;
    width: 33%;
    color: #b3174a;
    text-decoration: underline dotted;
}

div.login-div a:hover {
    opacity: 0.7;
}

div.login-div a h4 {
    width: 64.9%;
    letter-spacing: 1.5px;
    font-size: 1.04vw;
}
