{% extends "base_dashboard.html" %}
{% block other_stylesheets %}
<link rel="stylesheet" type="text/css" href="../../static/styles/past_exams_general.css?resource_id={{ g.uuid4() }}">
{% endblock %}
{% block workspace_content %}
<div class="first-workspace-child">
  <h2 class="page-heading">PAST EXAMINATIONS</h2>
  {% if exams %}
    <div class="all-exam-container">
      {% for exam in exams %}
	<div class="an-exam">
	  <div class="exam-item-container">
            <div class="exam-item">
	      <span class="instance-id">{{ exam.exam_id }}</span>
	    </div>
	    <div class="exam-item">
	      <span class="details course-name">{{ exam.course_name }}&nbsp; - &nbsp;<i>{{ exam.exam_date.strftime('%d/%m/%Y') }}</i></span>
	      <ul>
		<li><span class="details"><b>Duration</b>: {{ exam.time_allowed }} minute{{ 's' if exam.time_allowed > 1 else '' }}</span></li>
		<li><span class="details"><b>Number of questions</b>: {{ exam.no_of_questions }}</span></li>
	      </ul>
	    </div>
	  </div>
          <a href="/users/{{ user.user_id }}/past_exams/{{ exam.exam_id }}?resource_id={{ g.uuid4() }}">View Examination stats</a>
	</div>
      {% endfor %}
    </div>
  {% else %}
    <div class="exam-item-container">
      You don't have any past exams yet.
      Check back after atleast one of your students have written atleast one exam.
    </div>
  {% endif %}
</div>
{% endblock %}
