<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <link rel="icon" type="image/png" href="../static/images/profile-icon.png">
    <title>&nbsp;eCity&nbsp; | &nbsp;Home</title>
    <script src="../static/scripts/jquery-3.6.4.js"></script>
    <script src="../static/scripts/index.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><span class="logo">eCity</span></a>
    </header>
    <main>
      <section class="intro">
	<div class="hero">
	  <h1>eCity</h1>
	  <h2>Assessing Students on the go has never been this hassle-free</h2>
	  <h4>Quickly create quizzes, set examination questions and manage other types of assessments<br>for your students on the GO!</h4>
	  <div class="signup-login">
	    <h5 class="s-up">Don't have an account yet? <a href="/sign-up">Create an account here.</a></h5>
	    <h5 class="s-in">Curious? Want a sneak peek? <a href="/sign-in">Login as our guest.</a></h5>
	  </div>
	</div>
      </section>
      <section class="feature">
	<div class="container">
	</div>
      </section>
      <section class="about">
	<div class="container">
	</div>
      </section>
    </main>
    <footer>
      <div>
	<small>Xandex Inc, Copyright &copy; 2023</small>
      </div>
    </footer>
  </body>
<html>
