<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <link rel="icon" type="image/png" href="../static/images/favicon-blue.png">
    <title>&nbsp;eCity&nbsp; | &nbsp;Home</title>
    <script src="../static/scripts/jquery-3.6.4.js"></script>
    <script src="../static/scripts/index.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><div class="logo"></div></a>
      <div class="header-nav">
	<a href="/login"><span>LOGIN</span></a>
	<a href="/"><span>HOME</span></a>
      </div>
      <span class="clear-float"></span>
    </header>
    <main>
      <section id="intro" class="intro">
	<div class="hero">
	  <h1>eCity</h1>
	  <h2>Assessing Students on the go has never been this hassle-free</h2>
	  <h4>Quickly create computer based tests, quizzes, examinations and manage other types of assessments<br>for your students on the GO!</h4>
	  <div class="signup-login">
	    <h5 class="s-up">Don't have an account yet? <a href="/sign-up">Create an account here</a></h5>
	    <h5 class="s-in">Curious? Want a sneak peek? <a href="/sign-in">Login as our guest</a></h5>
	  </div>
	</div>
      </section>
      <section id="key-features" class="feature">
	<h2>Key Features</h2>
	<div class="feature-item-container">
	  <h3>Manage Quizzes and Examinations</h3>
	  <div class="feature-item-description">
	    <ul>
	      <li>Create <abbr title="Computer Based Tests">CBTs</abbr> or examinations for your students.</li>
	      <li>Schedule tests for a future date.</li>
	      <li>Automatically grade students based on their scores in tests/examinations.</li>
	    </ul>
	  </div>
	  <div class="feature-item-pic test-exam"></div>
	  <span class="clear-float"></span>
	</div>
	<div class="feature-item-container">
	  <h3>Track Students' Progress</h3>
	  <div class="feature-item-description">
	    <ul>
	      <li>Monitor and keep track of students progress.</li>
	      <li></li>
	      <li></li>
	    </ul>
	  </div>
	  <div class="feature-item-pic"></div>
	  <span class="clear-float"></span>
	</div>
	<div class="feature-item-container">
	  <h3>Upcoming Examinations at a glance</h3>
	  <div class="feature-item-description">
	    <ul>
	      <li>View all upcoming examinations and quizzes in the `<span style="color: maroon; text-decoration: underline dotted">Upcoming Examinations</span>` tab.</li>
	      <li></li>
	      <li></li>
	    </ul>
	  </div>
	  <div class="feature-item-pic upcoming-exams"></div>
	  <span class="clear-float"></span>
	</div>
      </section>
      <section id="about" class="about">
	<div class="about-container">
	  <h2>About eCity</h2>
	  <div class="about-detail">
	    <p><strong>eCity</strong> is a <abbr title="Computer Based Test">CBT</abbr> (Computer Based Test) app developed by <a href="https://github.com/alexUd01">Alexander Udochukwu Ikpeama</a> (a student at <a href="https://www.alxafrica.com/software-engineering/">ALX Holberton School of Software Engineering</a>) as his portfolio project which spanned three (3) weeks (19<sup>th</sup> May, 2023 to 9<sup>th</sup> June, 2023).</p>
	    <p>eCity was developed by Alexander in his hope to lessen the workload on teachers around the world.</p>
	    <br>
	    <p>In need of support? Reach out to Alexander via any of his socials.</p>
	    <ul>
	      <li id="email"><a href="mailto:alexanderikpeama@gmail.com">alexanderikpeama@gmail.com</a></li>
	      <li id="tel"><a href="tel:+2348135670517">+2348135670517</a></li>
	      <li id="github"><a href="https://github.com/alexUd01">https://github.com/alexUd01</a></li>
	      <li id="l_in"><a href="https://www.linkedin.com/in/alexander-ikpeama-442296244">https://www.linkedin.com/in/alexander-ikpeama-442296244</a></li>
	      <li id="twitt"><a href="https://twitter.com/AlexUd01">@AlexUd01</a></li>
	    </ul>
	  </div>
	</div>
      </section>
    </main>
    <footer>
      <div>
	<small>Xandex Inc, Copyright &copy; 2023</small>
      </div>
    </footer>
  </body>
<html>
