<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <link rel="icon" type="image/png" href="../static/images/profile-icon.png">
    <title>&nbsp;eCity&nbsp; | &nbsp;Home</title>
    <script src="../static/scripts/jquery-3.6.4.js"></script>
    <script src="../static/scripts/index.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><span class="logo">eCity</span></a>
    </header>
    <main>
      <section>
	<div class="container">
	</div>
      </section>
    </main>
    <footer>
      <div>
	<small>Xandex Inc, Copyright &copy; 2023</small>
      </div>
    </footer>
  </body>
<html>
