<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/ecity_footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/reset_password.css">
    <link rel="icon" type="image/png" href="../static/images/favicon-blue.png">
    <title>&nbsp;eCity&nbsp; | &nbsp;Reset Password</title>
    <script src="../static/scripts/jquery-3.6.4.js"></script>
    <script src="../static/scripts/login.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><div class="logo"></div></a>
      <div class="header-nav">
	<a href="/"><span>HOME</span></a>
	<a href="/login?resource_id={{ g.uuid4() }}"><span>ADMIN&nbsp;&nbsp;LOGIN</span></a>
	<a href="/login?resource_id={{ g.uuid4() }}&student_login=True"><span>STUDENT&nbsp;&nbsp;LOGIN</span></a>
      </div>
      <span class="clear-float"></span>
      {% with message = get_flashed_messages(with_categories=True) %}
        {% if message %}
          <div class="flash-message-container">
            <p class="flash-message {{ message[0][0] }}-flash-message">{{ message[0][1] | safe}}</p>
          </div>
        {% endif %}
      {% endwith %}
    </header>
    <main>
      <section>
	<div class="container">
	  <div class="login-div">
	    <h4>RESET YOUR PASSWORD</h4>
	    <form id="reset-pass-form" action="/reset_password" method="post">
	      <input type="text" name="student_login" value="{{ student_login }}" hidden>
	      <input type="number" name="user_id" value="{{ user.user_id }}" hidden>
	      <label class="curr-pass">
		<input class="credential" type="password" name="curr-password" placeholder="Current password" autofocus required>
	      </label>
	      <label>
		<input class="credential" type="password" name="new-password" placeholder="Enter new Password" required>
	      </label>
	      <label>
		<input class="credential" type="password" name="re-new-password" placeholder="Re-type new Password" required>
	      </label>
	      <label id="login"><input type="submit" value="CHANGE PASSWORD"></label>
	    </form>
	  </div>
	</div>
      </section>
    </main>
    <footer>
      <div>
	<small>Xandex Inc, Copyright &copy; 2023</small>
      </div>
    </footer>
  </body>
<html>
