{% extends "base_student_dashboard.html" %}
{% block workspace_content %}
<div class="no-heading-page">
  <div class="upcoming-exams-container">
    <h3>Upcoming examinations at a glance</h3>
    <div class="upcoming-exams-items">
      {% if exams %}
        {% for exam in exams %}
          <p style="text-align: left">
	    <span class="instance-id">{{ exam.exam_id }}</span>
	    <span class="course-name">{{ exam.course_name }}</span><br>
	      &emsp;&emsp;&nbsp;Will take place on <em>{{ exam.exam_date.strftime('%d/%m/%Y') }}</em> from <em>{{ exam.start_time }}</em> to <em>{{ exam.end_time }}</em>
	  </p>
        {% endfor %}
      {% else %}
        <p>No upcoming examinations.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
