{% extends "base_student_dashboard.html" %}
{% block workspace_content %}
<div>
  <div class="upcoming-exams-container">
    <h3>Upcoming examinations at a glance</h3>
    <div class="upcoming-exams-items">
      {% if exams %}
        {% for exam in exams %}
          <p style="text-align: left">
	    {{ exam.exam_id }} - {{ exam.course_name }}<br>
	    Duration: {{ exam.time_allowed }} minute{{ 's' if exam.time_allowed > 1 else '' }}<br>
	    Will take place on {{ exam.exam_date }} from {{ exam.start_time }} to {{ exam.end_time }}<br>
	  </p>
        {% endfor %}
      {% else %}
        <p>No upcoming examinations.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
